# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
studentsmanagerapp/dist
studentsmanagerapp/tmp
studentsmanagerapp/out-tsc
studentsmanagerapp/bazel-out

# Node
studentsmanagerapp/node_modules
studentsmanagerapp/npm-debug.log
studentsmanagerapp/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
studentsmanagerapp/.angular/cache/*
studentsmanagerapp/.vscode/*
!studentsmanagerapp/.vscode/settings.json
!studentsmanagerapp/.vscode/tasks.json
!studentsmanagerapp/.vscode/launch.json
!studentsmanagerapp/.vscode/extensions.json
studentsmanagerapp/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
