#content {
  width: 80%;
  height: 100%;
  margin: 2% 10% 2% 10%;
}
table {
  width: 80%;
}

#tablecontent{
  width: 100%;
  margin: 0 10% 2% 10%;
}

#filters{
  width: 80%;
  padding: 10px 0 10px 0;
  margin: 0 10% 0% 10%;
  display: flex;
}

#info{
  margin-left: 10%;
}

#info2{
  margin-left: 10%;
}

#upfile{
  margin-left: 50%;
}

.selalg{
  height: 20px;
  margin-top: 2px;
}
